.marker {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background: var(--pri);
  outline: none;
  border: solid 1px white;
  cursor: pointer;
  transition: 125ms ease-in-out;
}

.marker:hover {
  transform: scale(1.25);
  box-shadow: 0 0 8px var(--acc2);
}

.icon {
  width: 24px;
  height: 24px;
  color: white;
}
