.container {
  width: 100%;
}

.images {
  height: 30vh;
  display: flex;
  overflow-x: auto;
  gap: var(--sp);
}

.imageWrapper {
  background: none;
  outline: none;
  border: none;
  overflow: hidden;
  display: inline;
  height: 100%;
  cursor: pointer;
}

.fullScreenContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  z-index: 99999999999999;
  display: none;
  outline: none;
  border: none;
  align-items: center;
  justify-content: center;
}

.fullScreenImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 125ms ease-in-out;
  z-index: 2;
}

.previousButton,
.nextButton,
.closeButton {
  display: flex;
  width: 48px;
  height: 48px;
  position: absolute;
  cursor: pointer;
  bottom: 24px;
  border-radius: 8px;
  border: solid 1px var(--acc2);
  background: var(--acc1);
  transition: transform 125ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  box-shadow: 0 0 8px var(--acc3);
}

.loader {
  color: white;
  width: 64px;
  height: 64px;
  position: absolute;
  left: 50%;
  z-index: 1;
  top: 50%;
  animation: spin infinite 1s ease-in-out;
}

@keyframes spin {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(405deg);
  }
}

.previousButton:hover,
.nextButton:hover,
.closeButton:hover {
  transform: scale(1.05);
}

.nextButton {
  right: 24px;
}

.previousButton {
  left: 24px;
}

.closeButton {
  top: 24px;
  left: 24px;
  bottom: unset;
}

.showFullScreen {
  display: flex;
}

.imageWrapper:hover img {
  transform: scale(1.0625);
}

.images img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  transition: transform 250ms ease-in-out;
}

.right {
  padding: var(--sp2);
}

@media (min-width: 800px) {
  .container {
    display: grid;
    grid-template-columns: auto 480px;
    max-width: var(--bp-desktop);
    margin-left: auto;
    margin-right: auto;
    padding: var(--sp6) 0;
  }

  .images {
    height: unset;
    width: 100%;
    gap: var(--sp-2);
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 80vh;
  }

  .images .imageWrapper:first-child {
    width: 600px;
    height: 400px;
  }

  .images .imageWrapper {
    width: 298px;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    height: 198px;
  }

  .right {
    padding: 0 var(--sp2);
    display: flex;
    flex-direction: column;
    gap: var(--sp);
    align-items: flex-start;
  }
}

.price {
  color: var(--pri);
  font-weight: 600;
  font-size: 32px;
}

.address {
  font-size: 1.25rem;
  margin-bottom: 8px;
}

.infos {
  display: flex;
  gap: var(--sp);
}

.infos * {
  font-size: 16px !important;
}

.specs {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: var(--sp2);
  margin-bottom: var(--sp2);
}

.spec {
  display: flex;
  align-items: flex-start;
  gap: var(--sp);
}

.specIcon {
  flex-shrink: 0;
  color: var(--pri);
  width: 22px;
  height: 22px;
}

.spec p {
  color: var(--gray);
}
